.address {
  font-style: normal;
  line-height: 1.71;
  color: $dark-main-color;

  &__list {
    display: inline-block;
    min-width: 231px;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__contact-link {
    padding-bottom: 2px;
    padding-top: 2px;
    color: $dark-secondary-color;
  }
}
